body{
  color: #202020;
  background: #c0c0c0;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.theme-azos{
  --arn-min-width: 360px;
  --arn-hdr-height: 44px;
  --arn-hdr-color: #d0d0d0;
  --arn-hdr-bg-color: #404040;
  --arn-hdr-shadow: 50px 0px 12px rgba(0,0,0, 0.35);

  --arn-title-font-size: 1.6rem;
  --arn-title-padding: 6px 2px 0px 8px;
  --arn-title-color: #d8d8d8;
  --arn-title-letter-spacing: -1.1px;

  --arn-mnu-left: -500px;
  --arn-mnu-width: 250px;
  --arn-mnu-transition: 0.75s;
  --arn-mnu-color: #fff;
  --arn-mnu-bg: linear-gradient(#f09020, #ffaf4f);
  --arn-mnu-opacity: 1.0;
  --arn-mnu-font-size: 1.5em;
  --arn-mnu-shadow: 4px 0px 24px rgba(0,0,0,0.25);
  --arn-mnu-close-font-size: 1.8em;
  --arn-mnu-close-top: 6px;
  --arn-mnu-close-left: 6px;
  --arn-mnu-close-margin-top: -10px;
  --arn-mnu-hover-color: #d8d8d8;
  --arn-mnu-ul-padding: 28px 24px 8px 48px;
  --arn-mnu-li-padding: 8px;
  --arn-mnu-btn-width: 58px;
  --arn-mnu-btn-color: #f09020;
  --arn-mnu-svg-stroke: #f4f4f4;
  --arn-mnu-svg-stroke-width: 2.2px;
  --arn-mnu-svg-width: 30px;
  --arn-mnu-svg-height: 30px;
  --arn-mnu-svg-margin: 8px auto 8px auto;

  --arn-strip-color: #d0d0d0;
  --arn-strip-svg-stroke: #e0e0e0;
  --arn-strip-svg-stroke-width: 0.8px;
  --arn-strip-margin: 2px 1px 2px 2px;
  --arn-strip-padding:  4px 2px 2px 2px;
  --arn-strip-font-size: 0.75em;
  --arn-strip-min-width: 45px;
  --arn-strip-max-width: 20vw;

  /* paper is the primary whitespace background color (e.g. dialog box base color, form base color etc) */
  /* ink is primary text color omn paper */
  --paper: #f0f0f0; --ink: #454545;

  /* statuses */
  --s-ok-fg:    #236510; --s-ok-bg:    #75f487;
  --s-info-fg:  #2562b0; --s-info-bg:  #40baf5;
  --s-warn-fg:  #4e4e40; --s-warn-bg:  #e4e450;
  --s-alert-fg: #804053; --s-alert-bg: #e850e0;
  --s-error-fg: #704050; --s-error-bg: #ff5720;

  /* rank font sizes - MUST be in EM */
  --r1-fs: 1.60em;
  --r2-fs: 1.40em;
  --r3-fs: 1em;
  --r4-fs: 0.85em;
  --r5-fs: 0.65em;
  --r6-fs: 0.5em;

  /* rank border radius for window-level objects/containers */
  --r1-brad-win: 10px;
  --r2-brad-win: 8px;
  --r3-brad-win: 6px;
  --r4-brad-win: 6px;
  --r5-brad-win: 4px;
  --r6-brad-win: 2px;

  /* rank border radius for smaller parts */
  --r1-brad-ctl: 0.5em;
  --r2-brad-ctl: 0.42em;
  --r3-brad-ctl: 0.4em;
  --r4-brad-ctl: 0.3em;
  --r5-brad-ctl: 0.2em;
  --r6-brad-ctl: 1px;

  --modal-title-bg: #b5b5b5;
  --modal-title-fg: #505050;
  --modal-shadow: 6px 8px 18px rgba(0, 0, 0, 0.45);
  --modal-backdrop-bg: rgba(100, 100, 100, 0.45);
  --modal-backdrop-filter:  blur(4px);
}




/* stock theme modifiers: apply them to body class e.g. <body class="theme-azos --bw">.....*/
.--bw    { filter: grayscale(100%); }
.--green { filter: hue-rotate(50deg); }
.--sky   { filter: hue-rotate(165deg); }
.--dp    { filter: hue-rotate(240deg); }
.--invert{ filter: grayscale(100%) invert(1); }

