body {
  color: #202020;
  background: #c0c0c0;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

@media all and (max-width: 500px){
  body{ font-size: 12px; }
}

.theme-azos {
  --arn-min-width: 360px;
  --arn-hdr-height: 44px;
  --arn-hdr-color: #d0d0d0;
  --arn-hdr-bg-color: #404040;
  --arn-hdr-shadow: 50px 0px 12px rgba(0, 0, 0, 0.35);

  --arn-title-font-size: 1.6rem;
  --arn-title-padding: 6px 2px 0px 8px;
  --arn-title-color: #d8d8d8;
  --arn-title-letter-spacing: -1.1px;

  --arn-mnu-left: -500px;
  --arn-mnu-width: 250px;
  --arn-mnu-transition: 0.75s;
  --arn-mnu-color: #fff;
  --arn-mnu-bg: linear-gradient(#f09020, #ffaf4f);
  --arn-mnu-opacity: 1.0;
  --arn-mnu-font-size: 1.5em;
  --arn-mnu-shadow: 4px 0px 24px rgba(0, 0, 0, 0.25);
  --arn-mnu-close-font-size: 1.8em;
  --arn-mnu-close-top: 6px;
  --arn-mnu-close-left: 6px;
  --arn-mnu-close-margin-top: -10px;
  --arn-mnu-hover-color: #d8d8d8;
  --arn-mnu-ul-padding: 28px 24px 8px 48px;
  --arn-mnu-li-padding: 8px;
  --arn-mnu-btn-width: 58px;
  --arn-mnu-btn-color: #f09020;
  --arn-mnu-svg-stroke: #f4f4f4;
  --arn-mnu-svg-stroke-width: 2.2px;
  --arn-mnu-svg-width: 30px;
  --arn-mnu-svg-height: 30px;
  --arn-mnu-svg-margin: 8px auto 8px auto;

  --arn-strip-color: #d0d0d0;
  --arn-strip-svg-stroke: #e0e0e0;
  --arn-strip-svg-stroke-width: 0.8px;
  --arn-strip-margin: 2px 1px 2px 2px;
  --arn-strip-padding: 4px 2px 2px 2px;
  --arn-strip-font-size: 0.75em;
  --arn-strip-min-width: 45px;
  --arn-strip-max-width: 20vw;

  /* paper is the primary whitespace background color (e.g. dialog box base color, form base color etc) */
  /* ink is primary text color on paper */
  --paper: #f0f0f0;
  --paper2: #e4e4e4;
  --paper3: #d8d8d8;
  --ink: #585858;
  --ink2: #858585;
  --ink3: #a2a2a2;
  --ghost: rgba(0, 0, 0, .2);

  /* statuses */
  --s-default-fg: var(--ink);
  --s-default-bg: #c0c0c0;
  --s-default-fg-ctl: var(--ink);
  --s-default-bg-ctl: #fdfdfd;
  --s-default-bor-color-ctl: #c4c4c4;
  --s-default-bor-ctl: 1.2px solid var(--s-default-bor-color-ctl);
  /*
  --s-default-bg-ctl-btn: linear-gradient(175deg, #e4e4e4 0%, #cecece 70%);
  --s-default-bor-ctl-btn: 1px solid #c0c0c0;
  */
  --s-default-bg-ctl-btn: #d0d0d0;
  --s-default-bor-ctl-btn: 1px solid #c4c4c4;
  --s-default-fg-hcontrast: var(--paper);
  --s-default-bg-hcontrast: var(--ink);
  --s-default-bor-hcontrast: var(--ink);

  --s-default-fw-ctl: bold;

  --s-ok-fg: #546454;
  --s-ok-bg: #75f487;
  --s-ok-fg-ctl: #527452;
  --s-ok-bg-ctl: #d2ffd2;
  --s-ok-bor-color-ctl: #a5e474;
  --s-ok-bor-ctl: 1.2px solid var(--s-ok-bor-color-ctl);
  /*
  --s-ok-bg-ctl-btn: linear-gradient(175deg, #e0f4e0 0%, #a0f9a0 70%);
  --s-ok-bor-ctl-btn: 1px solid #b8d8b8;
  */
  --s-ok-bg-ctl-btn: #a0f9a0;
  --s-ok-bor-ctl-btn: 1px solid #90e490;
  --s-ok-fg-hcontrast: #75e82f;
  --s-ok-bg-hcontrast: #2f352f;
  --s-ok-bor-hcontrast: #373e35;


  --s-info-fg: #5a5a5a;
  --s-info-bg: #a0d8ff;
  --s-info-fg-ctl: #5276ba;
  --s-info-bg-ctl: #c0e8ff;
  --s-info-bor-color-ctl: #90d2f5;
  --s-info-bor-ctl: 1.2px solid var(--s-info-bor-color-ctl);
 /*
  --s-info-bg-ctl-btn: linear-gradient(175deg, #e0e0f0 0%, #a0d8ff 70%);
  --s-info-bor-ctl-btn: 1px solid #c4c4d8;
*/
--s-info-bg-ctl-btn: #b0dfff;
--s-info-bor-ctl-btn: 1px solid #a0c8f0;
--s-info-fg-hcontrast: #3782f0;
--s-info-bg-hcontrast: #2f2f51;
--s-info-bor-hcontrast: #37375a;


  --s-warn-fg: #6a6a40;
  --s-warn-bg: #f8f850;
  --s-warn-fg-ctl: #727220;
  --s-warn-bg-ctl: #fff8a0;
  --s-warn-bor-color-ctl: #d8d850;
  --s-warn-bor-ctl: 1px solid var(--s-warn-bor-color-ctl);
  /*
  --s-warn-bg-ctl-btn: linear-gradient(175deg, #f8f8e0 0%, #f8f458 70%);
  --s-warn-bor-ctl-btn: 1px solid #d0d085;
  */
  --s-warn-bg-ctl-btn: #f2f268;
  --s-warn-bor-ctl-btn: 1px solid #d8d848;
  --s-warn-fg-hcontrast: #f2f268;
  --s-warn-bg-hcontrast: #383a20;
  --s-warn-bor-hcontrast: #404228;


  --s-alert-fg: #e8daff;
  --s-alert-bg: #e040f0;
  --s-alert-fg-ctl: #8a508a;
  --s-alert-bg-ctl: #ffc0ff;
  --s-alert-bor-color-ctl: #e8a2e8;
  --s-alert-bor-ctl: 1.2px solid var(--s-alert-bor-color-ctl);
 /*
  --s-alert-bg-ctl-btn: linear-gradient(175deg, #ffc8ff 0%, #f8a0f8 70%);
  --s-alert-bor-ctl-btn: 1px solid #c5c0e4;
 */
  --s-alert-bg-ctl-btn: #f8b0f8;
  --s-alert-bor-ctl-btn: 1px solid #e890e8;
  --s-alert-fg-hcontrast: #f8b0f8;
  --s-alert-bg-hcontrast: #3e2142;
  --s-alert-bor-hcontrast: #462a4a;


  --s-error-fg: #ffe0e0;
  --s-error-bg: #ff4720;
  --s-error-fg-ctl: #955050;
  --s-error-bg-ctl: #ffc0c0;
  --s-error-bor-color-ctl: #f89052;
  --s-error-bor-ctl: 1.2px solid var(--s-error-bor-color-ctl);
  /*
  --s-error-bg-ctl-btn: linear-gradient(175deg, #f8d0f8 0%, #ffa0a0 70%);
  --s-error-bor-ctl-btn: 1px solid #f0b582;
  */
  --s-error-bg-ctl-btn: #ffa0a0;
  --s-error-bor-ctl-btn: 1px solid #e59090;
  --s-error-fg-hcontrast: #ffa0a0;
  --s-error-bg-hcontrast: #3e2121;
  --s-error-bor-hcontrast: #462a2a;

  /* rank font sizes - MUST be in EM */
  --r1-fs: 1.60em;
  --r2-fs: 1.30em;
  --r3-fs: 1em;
  --r4-fs: 0.85em;
  --r5-fs: 0.70em;
  --r6-fs: 0.65em;

  /* rank border radius for window-level objects/containers */
  --r1-brad-win: 10px;
  --r2-brad-win: 8px;
  --r3-brad-win: 6px;
  --r4-brad-win: 6px;
  --r5-brad-win: 4px;
  --r6-brad-win: 2px;

  /* rank border radius for smaller parts */
  --r1-brad-ctl: 0.3em;
  --r2-brad-ctl: 0.3em;
  --r3-brad-ctl: 0.3em;
  --r4-brad-ctl: 0.3em;
  --r5-brad-ctl: 0.2em;
  --r6-brad-ctl: 1px;

  --modal-title-bg: #b5b5b5;
  --modal-title-fg: #505050;
  --modal-shadow: 6px 8px 18px rgba(0, 0, 0, 0.45);
  --modal-backdrop-bg: rgba(100, 100, 100, 0.45);
  --modal-backdrop-filter: blur(4px);
  --modal-spin-backdrop-bg: rgba(100, 100, 100, 0.2);
  --modal-spin-backdrop-filter: grayscale(0.85) blur(1.0px);

  /* focus */
  --focus-ctl-selected-color: rgba(85, 190, 255, 0.35);
  --focus-ctl-background-color: rgba(10, 140, 255, 0.55);
  --focus-ctl-outline: 3px solid var(--focus-ctl-background-color);
  --focus-ctl-box-shadow: none;
  /*0px 0px 8px rgba(10, 128, 255, .9);*/

  --ctl-button-fweight: 500;
  --ctl-button-fstyle: normal;
  --ctl-button-letter-spacing: -0.025em;

  --vcl-codebox-bg: #342438;
  --vcl-codebox-fg: #a0a0a0;
  --vcl-codebox-ffamily: 'Lucida Console', 'Courier New', monospace;
  --vcl-codebox-fsize: 0.9em;
  --vcl-codebox-hi-key: #d2d2d2;
  --vcl-codebox-hi-string: #44b4d0;
  --vcl-codebox-hi-number: #40e510;
  --vcl-codebox-hi-boolean: #c065eb;
  --vcl-codebox-hi-null: #e75e45;

  --vcl-codebox-hi-string-hover: #a4d4ff;
}




/* stock theme modifiers: apply them to body class e.g. <body class="theme-azos --bw">.....*/
.--bw {
  filter: grayscale(100%);
}

.--green {
  filter: hue-rotate(50deg);
}

.--sky {
  filter: hue-rotate(165deg);
}

.--dp {
  filter: hue-rotate(240deg);
}

.--invert {
  filter: grayscale(100%) invert(1);
}
