
/* https://www.youtube.com/watch?v=wpGNFGqNfdU  */

html{
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  color: #5a5a5a;
}

body{
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-width: 360px;
}

header{
  position: fixed;
  min-width: 360px;
  left: 0px;
  width: 100%;
  top: 0px;
  z-index: 100;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #404040;
  box-shadow: 0px 0px 12px rgba(0,0,0, 0.35);
  color: #d0d0d0;
}

      header .social-buttons{
        position: fixed;
        right: 0px;
        top:  calc(50% - 96px);
        z-index: 500;
        overflow: hidden;
      }

      header .social-buttons a{
        display: block;
      }

      header .social-buttons svg{
        width: 48px; height: 48px;
      }

      header .side-menu{
        display: block;
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        width: 0;
        height: 100vh;
        background:#f09020;
        opacity: 0.95;
        color: #fff;
        transition: 0.5s;
        font-size: 1.5em;
        overflow: hidden;
      }

      header .side-menu_expanded{
        width: 250px;
      }

      header .side-menu .close-button{
        font-size: 1.4em;
        position: absolute;
        top: 2px;
        right: 2px;
        margin-top: -10px;
      }

      header .side-menu a{
        text-decoration:  none;
        color: inherit;
        transition: 0.3s;
      }
      header .side-menu a:hover{
        color: #d8d8d8;
      }

      header .side-menu ul{
        list-style: none;
        padding: 28px 24px 8px 48px;
      }

      header .side-menu li{
        padding: 8px;
      }

      header .menu{
        float: left;
        width: 58px;
        height: 100%;
        display: block;
        background:#f09020;
      }

      header .title{
        float: left;
        display: block;
        font-size: 1.8rem;
        padding: 8px 2px 0px 10px;
        color: #e8e8e8;
        letter-spacing:  -1px;
      }


      header .user{
        float: right;
        display: block;
        text-align: right;
        font-size: 0.9rem;
        padding: 20px 8px 0px 4px;
      }

/* ------------------- */

main{
  padding: 60px 8px 8px 8px;
}

/* ------------------- */

footer {
  background-color: #606060;
  color: #aaa;
  padding: 10px;
}
